.main {
	margin:0 auto;
	background: #add8e6;
	text-align: center;
	width: 50%;
	font-size: 40px;
	border-radius:20px;
}

#ank {
	background-color: #FF4040;
	border-radius:7px;
	width:30%;
	text-align: center;
}

#ank h3 {
	text-align: left;
}

#hpw {
	text-align: center;
	align:right;
	background-color: #FFFFFF;
	border-radius: 4px;
	width: 90%;
}
