body {
    background-image: url('../src/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    text-align: center;
    color: #FFFFFF;
}

.articletext {
    background-color: #FFFFFF;
    width: 95%;
    text-align: left;
    border: 3px solid #8585850e;
    border-radius: 3px;
    margin: auto;
    padding: 5px;
    color: #000000;
}